p {
    font-size: small;
    text-align: right;
}

#main {
    width: 200px;
    margin: 0 auto;
    border: 2px solid mediumpurple;
    padding: 0 15px 5px 15px;
    border-radius: 10px;
}

#display {
    background-color: black;
    color: lime;
    text-align: center;
    font-size: 28px;
    margin: 0 auto 20px auto;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.width_85 {
    width: 85%;
}

#log_area {
    height: 204px;
    overflow: auto;
}

#logs {
    text-align: center;
}